<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


<!-- <div id="loading">
    <video id="video" src="./images/cesa.mp4" autoplay muted style="width: 100%"></video>
</div>

<div id="main" style="display: none;">
    <form method="post" action="/adminReg">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Admin Register</button>
    </form>
    <br>
      <form method="post" action="/adminLog">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Admin Login</button>
    </form>
    <br>
    <form method="post" action="/studentReg">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Student Register</button>
    </form>
    <br>
    <form method="post" action="/studentLog">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Student Login</button>
    </form>
</div>

<script>
const loadingPage = document.getElementById('loading');
const mainPage = document.getElementById('main');


function showMainPage() {
loadingPage.style.display = 'none';
mainPage.style.display = 'block';
}


document.getElementById('video').addEventListener('ended', showMainPage);
</script> -->