<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/719584d9c7.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="./javascripts/main.js" defer></script>
    <link rel="shortcut icon" href="./images/circle-cropped.png" type="image/x-icon">
    <title>CESA-VIT</title>
</head>
<body style="background-color:#0e0842">
    <div id="loading" class="w-screen h-screen bg-black flex justify-center ease-in-out">
        <video id="video" src="./images/cesa.mp4" autoplay muted style="width: 60%;"></video>
    </div>
        


    <div id="main" style="display: none;background-color: rgba(14, 19, 33, 1);">
        <div class="absolute z-50">
            <header class="text-white p-1 lg:p-2 gap-1">
                <div class="flex justify-center items-center gap-1 md:gap-3 lg:gap-4">
         
                     <!-- <i class='bx bx-menu text-xl md:text-3xl lg:text-4xl font-bold mt-1' id="menu-icon"></i> -->
                     <div class="menu">
                     <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                     <label for="openSidebarMenu" class="sidebarIconToggle">
                       <div class="spinner diagonal part-1 h-[2px] md:h-[3px] lg:h-[4px]"></div>
                       <div class="spinner horizontal h-[2px] md:h-[3px] lg:h-[4px]"></div>
                       <div class="spinner diagonal part-2 h-[2px] md:h-[3px] lg:h-[4px]"></div>
                     </label>
                     <div id="sidebarMenu">
                       <ul class="sidebarMenuInner bg-black h-screen absolute top-[-34px]">  
                         <li><a href="/">Home </a></li>
                         <li><a href="#NewEvents">New Events </a></li>
                         <li><a href="#PastEvents">Past Events</a></li>
                         <li><a href="#AboutUs">About Us</a></li>
                         <li><a href="/team">Our Team</a></li>
                         <li><a href="#">My Events</a></li>
                       </ul>
                     </div>
         
                     </div>
                     
                </div>
         
                <div class="flex justify-center items-center gap-1 md:gap-3 lg:gap-5">
                     <a href="/login" id="btn" class="top-5 right-6 px-1 md:px-3 lg:px-5 py-1 font-bold text-sm md:text-base lg:text-xl">Login</a>
                </div>
            </header>      
        </div>

        <!-- style="background-image: url('./images/bg3.jpg'); background-size: contain;" -->
        <section class="w-screen h-screen relative" style="background-color: #0e0842;">
            <div class="w-full absolute bottom-0">
                <div class="absolute inset-0 bg-gradient-to-t from-transparent to-[#0e0842] opacity-100 w-full h-32"></div>
                <img src="./images/bg3.jpg" alt="" class="mt-[0.2rem]">
            
            </div>

            <h1 id="heading" class="absolute bottom-32 ml-4 font-extrabold text-3xl md:tex-5xl lg:text-7xl hidden lg:block">Computer Engineering <br>Student Association <br><span class="ml-1">(VIT)</span></h1>
            <h1 id="heading" class="absolute bottom-60 md:bottom-96 font-extrabold text-3xl md:text-6xl lg:text-7xl block lg:hidden w-screen text-center">Computer Engineering <br>Student Association <br>(VIT)</h1>

        </section>
        
        
        

       

        <section class="py-8 md:py-12" id="footer1-13">
            <div class="container mx-auto px-4 md:px-8 lg:px-16">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                    <div class="col-span-1 md:col-span-2 lg:col-span-1">
                        <div class="mb-6">
                            <a class="text-white text-4xl" href="/">CESA</a>
                        </div>
                        <div class="mb-6">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.9576328343173!2d72.86854761490031!3d19.021588487119168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf394b345bdd%3A0x8d44ea4f85af3ceb!2sVidyalankar+Institute+of+Technology!5e0!3m2!1sen!2sin!4v1564939838462!5m2!1sen!2sin"
                                width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-span-1 md:col-span-1 lg:col-span-1">
                        <div class="mb-6">
                            <h5 class="text-white text-lg md:text-xl lg:text-lg font-semibold mb-3">Address</h5>
                            <p class="text-white">Vidyalankar Institute of Technology, Vidyalankar College Marg, Wadala (East),<br>Mumbai - 400037</p>
                        </div>
                    </div>
                    <div class="col-span-1 md:col-span-1 lg:col-span-1">
                        <div class="mb-6">
                            <h5 class="text-white text-lg md:text-xl lg:text-lg font-semibold mb-3">Contacts</h5>
                            <p class="text-white">Email: cesa.vidyalankar@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-span-1 md:col-span-2 lg:col-span-1">
                        <!-- Empty -->
                    </div>
                </div>
                <hr class="border-white my-8 md:my-12">
                <div class="flex flex-col md:flex-row justify-between items-center py-8 md:py-0">
                    <p class="text-white text-sm md:text-base lg:text-lg mb-4 md:mb-0">© Copyright 2023 CESA - All Rights Reserved</p>
                    <div class="flex items-center">
                        <a class="soc-item me-4" href="https://www.linkedin.com/company/cesa-vit/" target="_blank">
                            <span class="rounded-full bg-gray-200 hover:bg-gray-400 p-3">
                                <i class="fab fa-linkedin text-lg" style="color: #0077b5;"></i>
                            </span>
                        </a>
                        <a class="soc-item me-4" href="https://www.facebook.com/vitcesastudentchapter/" target="_blank">
                            <span class="rounded-full bg-gray-200 hover:bg-gray-400 p-3">
                                <i class="fa-brands fa-facebook text-lg" style="color: #0077b5;"></i>
                            </span>
                        </a>
                        <a class="soc-item me-4" href="https://www.youtube.com/channel/UCHGGuIFztDY0d6_wN-GpxkQ" target="_blank">
                            <span class="rounded-full bg-gray-200 hover:bg-gray-400 p-3">
                                <i class="fab fa-youtube text-lg" style="color: #ff4d5a;"></i>
                            </span>
                        </a>
                        <a class="soc-item me-4" href="https://instagram.com/cesavit_/" target="_blank">
                            <span class="rounded-full bg-gray-200 hover:bg-gray-400 p-3">
                                <i class="fab fa-instagram text-lg" style="color: #E4405F;"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
    </div>


        <script>
            const loadingPage = document.getElementById('loading');
            const mainPage = document.getElementById('main');
            
            
            function showMainPage() {
                loadingPage.style.opacity = 0; // Set opacity to 0 for fade-out effect
    setTimeout(() => {
        loadingPage.style.display = 'none'; // Hide the loading page after the fade-out effect
        mainPage.style.display = 'block';
    }, 1000);
            }
            
            //showMainPage();
            
            document.getElementById('video').addEventListener('ended', showMainPage);
        </script> 
        
        <style>
            #loading {
    transition: opacity 1s; /* Smooth transition for opacity */
}
        </style>
        
</body>
</html>
